<%- include('../partials/header.ejs') %>
<h1>Select blog to read</h1>

<% blogs.forEach(elm => { %>
<h3><%= elm.title %></h3>

<p> creator: <%= elm.createdBy.userName %> </p>


<% }); %> <%- include('../partials/footer.ejs') %>
