<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>blogger platform</title>
</head>
<body>
    <nav>
        <h3> blogger platform </h3> 
        <a href="/" > home </a>
        <a href="/login" > login </a>
        <a href="/signup" > sign up </a>
    </nav>
    
