<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>blogger platform</title>

    <link rel="stylesheet" href="/style.css" />

    <style>
      nav {
        background-color: #7a6563;
        color: #fff;
        padding: 10px 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;
      }

      nav h3 {
        margin: 0;
        font-size: 24px;
      }
    </style>
  </head>
  <body>
    <nav>
      <h3>blogger platform</h3>
      <ul>
        <li><a href="/"> home </a></li>
        <li><a href="/blogs"> blogs </a></li>
        <% if(!locals.loggedInUser) { %>
        <li><a href="/login"> login </a></li>
        <li><a href="/signup"> sign up </a></li>
        <% } else { %>
        <li><a href="/logout"> logout </a></li>

        <% } %>
      </ul>
    </nav>
  </body>
</html>
