<%- include('./partials/header.ejs') %>

<div class="container">
  <h2>Sign Up for Blogger Platform</h2>
  <form action="/signup" method="post">
    <label for="username">Username:</label>
    <input type="text" id="username" name="username" required />
    <label for="email">Email:</label>
    <input type="text" id="email" name="email" required />
    <label for="password">Password:</label>
    <input type="password" id="password" name="password" required />
    <input type="submit" value="Sign Up" />
    <% if(locals.error) { %>
    <p style="color: #800"><%=locals.error%></p>
    <% } %>
  </form>
  <div class="login-link">
    <p>Already have an account? <a href="/login">Login</a></p>
  </div>
</div>

<%- include('./partials/footer.ejs') %>
